button{
  border-radius: 5px;
  width: 100px;
}
.form-control{
  width: 300px;
}
ion-searchbar{
color: black;
height: auto;

}
.search-white {
  --background: white;
  --color: black;
  --placeholder-color: gray;
}
