<app-navbar-forms></app-navbar-forms>

<ion-content [fullscreen]="true">
  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col  size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Registrarse</h3>
          <h6>Datos del laboratorio</h6>

          <form>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" placeholder="Ingrese su nombre"></ion-input> <br>
            <ion-label>Tipo</ion-label>
            <ion-input type="text" placeholder="Ingrese su nombre"></ion-input> <br>
            <ion-label>Número de licencia sanitaria</ion-label>
            <ion-input type="text" placeholder="Ingrese su nombre"></ion-input> <br>
            <ion-label>Dirección</ion-label>
            <ion-input type="email" placeholder="Ingrese su nombre"></ion-input> <br>
            <ion-label>Telefono</ion-label>
            <ion-input type="text" placeholder="Ingrese su número de telefono"></ion-input> <br>


            <ion-button class="login-button" expand="block">Siguiente</ion-button>

          </form>
          <p class="register-text">
            Si ya tienes una cuenta <a href="#">Inicia sesión</a>
          </p>
        </div>
      </ion-col>
    </ion-row>
   </ion-grid>
</ion-content>
