<ion-header [translucent]="true" class="header-container">
  <img src=".../../../../../assets/forms.jpg" alt="">
</ion-header>


<ion-content [fullscreen]="true" class="custom-content">
  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Registro de Farmacia</h3>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <ion-label>Nombre de la Farmacia</ion-label> <br><br>
            <ion-input formControlName="nombreFarmacia" type="text" placeholder="   Introduce el nombre" required></ion-input> <br>

            <ion-label>Tipo de Farmacia</ion-label> <br><br>
            <ion-select formControlName="tipoFarmacia" placeholder="Selecciona el tipo" required>
              <ion-select-option value="independiente">Independiente</ion-select-option>
              <ion-select-option value="cadena">Cadena</ion-select-option>
              <ion-select-option value="hospitalaria">Hospitalaria</ion-select-option>
            </ion-select> <br>

            <ion-label>Licencia Sanitaria</ion-label> <br><br>
            <ion-input formControlName="licenciaSanitaria" type="text" placeholder="   Introduce la licencia (10 dígitos)" required></ion-input> <br>

            <ion-label>Dirección</ion-label> <br><br>
            <ion-input formControlName="direccion" type="text" placeholder="   Introduce la dirección" required></ion-input> <br>

            <ion-label>Teléfono</ion-label> <br><br>
            <ion-input formControlName="telefono" type="tel" placeholder="   10 dígitos" required></ion-input> <br><br>

            <ion-button [disabled]="isFormInvalid()" expand="block" class="login-button" type="submit">Siguiente</ion-button>
          </form> <br>

          <p class="register-text">
            Si ya tienes una cuenta <a href="#">Inicia sesión</a>
          </p>
        </div> <br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
