<ion-header [translucent]="true" class="header-container">
  <img src=".../../../../../assets/forms.jpg" alt="">
</ion-header>


<ion-content [fullscreen]="true" class="custom-content">
  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Registrarse</h3>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <ion-label>Nombre del hospital</ion-label> <br><br>
            <ion-input formControlName="nombreH" type="text" placeholder="Introduce el nombre del hospital" required></ion-input> <br>

            <ion-label>Tipo</ion-label>
            <ion-select formControlName="tipoHospital" [(ngModel)]="tipoHospital">
              <ion-select-option value="general">General</ion-select-option>
              <ion-select-option value="especializado">Especializado</ion-select-option>
              <ion-select-option value="privado">Privado</ion-select-option>
              <ion-select-option value="publico">Público</ion-select-option>
            </ion-select>

            <ion-label>Número de licencia sanitaria</ion-label> <br><br>
            <ion-input formControlName="licenciaS" type="number" placeholder="Ingrese el numero de licencia sanitaria" required></ion-input> <br>

            <ion-label>Dirección</ion-label> <br><br>
            <ion-input formControlName="direccionH" type="text" placeholder="Ingrese la dirección del hospital" required></ion-input> <br>

            <ion-label>Email del responsable</ion-label> <br><br>
            <ion-input formControlName="email" type="email" placeholder="   @gmail.com" required></ion-input> <br>

            <ion-label>Telefono del responsable</ion-label> <br><br>
            <ion-input formControlName="telefonoH" type="number" placeholder="Introduce tu número de telefono" required></ion-input> <br>

            <ion-button [routerLink]="'/hospital-register3'" [disabled]="isFormInvalid()" expand="block" class="login-button" type="submit">Siguiente</ion-button>
          </form><br>
        </div><br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
