<ion-header [translucent]="true" class="header-container">
  <img src=".../../../../../assets/forms.jpg" alt="">
</ion-header>


<ion-content [fullscreen]="true" class="custom-content">
  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Registrarse</h3>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <ion-label>Nombre del responsable </ion-label> <br> <br>
            <ion-input formControlName="nombreC" type="text" placeholder="   Introduce tu nombre" required></ion-input> <br>

            <ion-label>Apellido paterno del responsable</ion-label> <br> <br>
            <ion-input formControlName="apellidoP" type="text" placeholder="   Introduce tu apellido paterno" required></ion-input> <br>

            <ion-label>Apellido materno del responsable</ion-label> <br> <br>
            <ion-input formControlName="apellidoM" type="text" placeholder="   Introduce tu apellido materno" required></ion-input> <br>

            <ion-label>Email del responsable</ion-label> <br> <br>
            <ion-input formControlName="email" type="email" placeholder="   @gmail.com" required></ion-input> <br>

            <ion-label>Telefono del responsable</ion-label> <br> <br>
            <ion-input formControlName="telefono" type="number" placeholder="   Introduce tu número de telefono" required></ion-input> <br>

            <ion-button [routerLink]="'/hospital-register2'" expand="block" class="login-button" type="submit" [disabled]="!registerForm.valid">
              Siguiente
            </ion-button>
          </form> <br>

          <p class="register-text">
            Si ya tienes una cuenta <a href="#">Inicia sesión</a>
          </p>
        </div> <br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
