ion-header {
  width: 100%;
  height: 15vh; /* Mantiene una altura adecuada */
  max-height: 250px; /* Evita que el header sea demasiado grande */
  overflow: hidden; /* Para que la imagen no se expanda demasiado */
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: auto;
  height: auto;
  opacity: .5;
}
