<ion-header [translucent]="true" class="header-container">
  <img src=".../../../../../assets/forms.jpg" alt="">
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Registrarse</h3>

          <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
            <ion-label>Nombre Completo</ion-label> <br> <br>
            <ion-input formControlName="nombreC" type="text" placeholder="   Introduce tu nombre" required></ion-input> <br>

            <ion-label>Apellido Paterno</ion-label> <br> <br>
            <ion-input formControlName="apellidoP" type="text" placeholder="   Introduce tu apellido paterno" required></ion-input> <br>

            <ion-label>Apellido Materno</ion-label> <br> <br>
            <ion-input formControlName="apellidoM" type="text" placeholder="   Introduce tu apellido materno" required></ion-input> <br>

            <ion-label>Email</ion-label> <br> <br>
            <ion-input formControlName="email" type="email" placeholder="   @gmail.com" required></ion-input> <br>

            <ion-label>Contraseña</ion-label> <br> <br>
            <ion-input formControlName="password" type="password" placeholder="   Introduce tu contraseña" required></ion-input> <br><br>

            <ion-button [disabled]="isFormInvalid()" expand="block" class="login-button" type="submit">Siguiente</ion-button>
          </form> <br>

          <p class="register-text">
            Si ya tienes una cuenta <a href="#">Inicia sesión</a>
          </p>
        </div> <br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
