<ion-header [translucent]="true" class="header-container">
  <img src=".../../../../../assets/forms.jpg" alt="">
</ion-header>




<ion-content [fullscreen]="true" class="custom-content">
  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Registrarse</h3>

          <form (submit)="registerHospital()">
            <ion-label>Email del responsable</ion-label> <br> <br>
            <ion-input type="email" placeholder="   @gmail.com" name="email" required></ion-input> <br>

            <ion-label>Descripción</ion-label>
            <br>
            <br>
            <ion-textarea placeholder="   Introduce una descripción del hospital" name="descripcion" required></ion-textarea>
            <br>



            <ion-button expand="block" class="login-button" type="submit">Registrarse</ion-button>
          </form> <br>

          <p class="register-text">
            Si ya tienes una cuenta <a href="#">Inicia sesión</a>
          </p>
        </div> <br>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
